.description {
    font-size: 18pt;
    vertical-align: middle;
    margin-top: 200px;
}

.app-store-logo {
    margin: auto;
}
#site-nav {
    margin-left: 10%;
}

#lang-nav {
    margin-right: 5%;
    float: right;
}